div {
    /*width: 800px;*/
    /*height: 600px;*/
    /*border: purple 5px outset;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 600px;
}
.bu{
    color: #0051ff;

}
.red{
    color: red;
}
span{
    font-size: 200px;
    font-family: "Times New Roman";
    text-align: center;
}